## BMI 6018 Term Project
### Members: Anwar Alsanea, Ryan Williams, and Imdad Islam

## 1.0 Introduction:

Our term project involves dealing with daily gas produced and feed for [digesters](https://en.wikipedia.org/wiki/Anaerobic_digestion) in wastewater treatment plants (WWTP).
We have obtained data from a local WWTP [Central Valley Water Reclamation Facility CVWRF](https://www.cvwrf.org/).

More info. on our project (Ryan will fill this out)
what is a digester?
what can we get from our data? total costs? compare winter and summer months ? (this will depend on how far we go in data processesing!) 
this will sort of be like an abstract...

# Data:
Data will be imported into a dataframe from a csv file that contains gas produced in TCF (Trillion Cubic Feet) and total inputted feed in Gallons for month January - September (excluding August) for the year 2017.

In [2]:
# import csv file into dataframe:
import pandas as pd
import numpy as np
DF = pd.read_csv('CVWRF.csv', header = 1,na_values=" NaN")
# pandas is reading the csv file and including all NaN rows at the bottom
# to delete those rows, use pandas DataFrame.dropna() function to delete and clean the file
DF.dropna(how = 'any',inplace=True)
# lets do more cleaning, I do not like the column names, lets change them
DF.rename(columns={'Gas produced (TCF)': 'egg1_gasproduced', 'Feed (Gallons)': 'egg1_feed',
                  'Gas produced (TCF).1':'egg2_gasproduced','Feed (Gallons).1':'egg2_feed'}, inplace=True)

# print final dataframe
DF

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Month,Day,Year,egg1_gasproduced,egg1_feed,egg2_gasproduced,egg2_feed
0,January,1.0,2017.0,369044.0,73565.0,370885.0,73540.0
1,January,2.0,2017.0,366223.0,72840.0,367482.0,72830.0
2,January,3.0,2017.0,357710.0,74340.0,350032.0,73380.0
3,January,4.0,2017.0,376082.0,68850.0,377382.0,68845.0
4,January,5.0,2017.0,362110.0,66045.0,360277.0,66040.0
5,January,6.0,2017.0,345344.0,71435.0,344976.0,71410.0
6,January,7.0,2017.0,338112.0,69405.0,339568.0,69375.0
7,January,8.0,2017.0,346018.0,69040.0,336492.0,69015.0
8,January,9.0,2017.0,355288.0,70495.0,335617.0,67670.0
9,January,10.0,2017.0,344055.0,67225.0,357387.0,67210.0
10,January,11.0,2017.0,342498.0,69290.0,351834.0,69635.0
11,January,12.0,2017.0,360166.0,74190.0,368899.0,73860.0
12,January,13.0,2017.0,362756.0,75865.0,378938.0,75875.0
13,January,14.0,2017.0,377048.0,76525.0,382771.0,76520.0
14,January,15.0,2017.0,378794.0,77815.0,387234.0,77830.0
15,January,16.0,2017.0,383674.0,76440.0,393144.0,76480.0
16,January,17.0,2017.0,382384.0,77560.0,399015.0,78640.0
17,January,18.0,2017.0,382417.0,76906.0,396000.0,77632.0
18,January,19.0,2017.0,393918.0,80654.0,392822.0,79908.0
19,January,20.0,2017.0,413238.0,82500.0,413447.0,82495.0
20,January,21.0,2017.0,397657.0,72085.0,402271.0,72080.0
21,January,22.0,2017.0,384550.0,75205.0,386870.0,75230.0
22,January,23.0,2017.0,383016.0,73950.0,389664.0,73950.0
23,January,24.0,2017.0,359651.0,76775.0,372105.0,76800.0
24,January,25.0,2017.0,360204.0,76670.0,360698.0,76685.0
25,January,26.0,2017.0,366968.0,79740.0,370130.0,78540.0
26,January,27.0,2017.0,363456.0,70045.0,364008.0,70005.0
27,January,28.0,2017.0,368325.0,76140.0,362127.0,76150.0
28,January,29.0,2017.0,363951.0,77425.0,363245.0,77435.0
29,January,30.0,2017.0,375197.0,76505.0,377041.0,76530.0
...,...,...,...,...,...,...,...
215,September,1.0,2017.0,427495.0,80220.0,379925.0,80215.0
216,September,2.0,2017.0,414131.0,81485.0,364228.0,81470.0
217,September,3.0,2017.0,404496.0,79325.0,353810.0,79325.0
218,September,4.0,2017.0,411255.0,73545.0,354790.0,73625.0
219,September,5.0,2017.0,385872.0,75670.0,330990.0,75595.0
220,September,6.0,2017.0,374803.0,76375.0,337010.0,76387.0
221,September,7.0,2017.0,378765.0,76375.0,332502.0,76388.0
222,September,8.0,2017.0,373930.0,72895.0,326980.0,72920.0
223,September,9.0,2017.0,380537.0,79300.0,340126.0,79280.0
224,September,10.0,2017.0,396220.0,75869.0,340090.0,77300.0
225,September,11.0,2017.0,383661.0,77651.0,337746.0,77655.0
226,September,12.0,2017.0,412415.0,77190.0,342822.0,77190.0
227,September,13.0,2017.0,402462.0,78415.0,338569.0,78460.0
228,September,14.0,2017.0,377225.0,79340.0,321164.0,77065.0
229,September,15.0,2017.0,372468.0,71065.0,282332.0,56500.0
230,September,16.0,2017.0,408719.0,91630.0,330920.0,91645.0
231,September,17.0,2017.0,459478.0,91110.0,387943.0,91100.0
232,September,18.0,2017.0,453221.0,86240.0,389845.0,86290.0
233,September,19.0,2017.0,479005.0,82565.0,408169.0,82540.0
234,September,20.0,2017.0,435870.0,82325.0,374296.0,82318.0
235,September,21.0,2017.0,437679.0,79345.0,369316.0,82757.0
236,September,22.0,2017.0,421456.0,78525.0,341410.0,78525.0
237,September,23.0,2017.0,437287.0,78750.0,368743.0,78835.0
238,September,24.0,2017.0,368444.0,64450.0,321615.0,70760.0
239,September,25.0,2017.0,376274.0,70275.0,326121.0,71235.0
240,September,26.0,2017.0,366049.0,66689.0,312193.0,67800.0
241,September,27.0,2017.0,311645.0,54026.0,342935.0,83510.0
242,September,28.0,2017.0,382747.0,70025.0,338262.0,69155.0
243,September,29.0,2017.0,377751.0,70525.0,323971.0,70505.0
244,September,30.0,2017.0,377564.0,70350.0,323079.0,70320.0

In [4]:
# lets seperate the dataframe and turn it into smaller dataframes with monthly data:
DF_jan = DF[DF.Month == 'January']
DF_feb = DF[DF.Month == 'February']
DF_march = DF[DF.Month == 'March']
DF_april = DF[DF.Month == 'April']
DF_may = DF[DF.Month == 'May']
DF_june = DF[DF.Month == 'June']
DF_july = DF[DF.Month == 'July']
# there is no August data
DF_sept = DF[DF.Month == 'September']

In [ ]:
# lets start the class:
# this class will take a dataframe 
#(from any of the months indicated above, and returns the avg and sum of each gas produced for both egg digesters)
# this class will also print out dates 
class digesterdata (df):
    
    #since we want to inherit from a dataframe, we will need to use super function in here
    def __init__(self, *args, **kwargs):
        super(df, self).__init__(*args, **kwargs)
        
        
    def avg(self):

In [ ]:
# this class will print out the feed/gas at a given date, it will also give the data (avg and sum) 
#from previous class based on the month 

class feedgasdate(digesterdata):
# ??? 
# pending